.back{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
    max-width: 150px;
    margin: 20px auto;
    
    background-color: #fff;
    border-radius: 4px;
    font-size: 11px;
    border: 1px solid black;
}